<h1 class="titulo-lista w3-center">Vá para a pagina das listas e veja seus itens</h1>

<div class="w3-center w3-content" style="max-width:450px;">
  <%= link_to "Ir para Listas", lists_path, class:"w3-bar-item w3-button btn btn-primary botoes-baixo-form" %>
</div>

