<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Lista", lists_path + "/" + @item.list_id.to_s %>
  <%#= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
